<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds" debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="tofu.logging.logback.ConsoleContextLayout">
                <pattern>[%date{yyyy-MM-dd HH:mm:ss}] %-5level [%.15thread]%X{alias}[%-25logger{15}] - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT"/>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/root/cardano-dex-index/logs/rates-resolver.log</file>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="tofu.logging.logback.ConsoleContextLayout">
                <pattern>[%date{yyyy-MM-dd HH:mm:ss}] %-5level [%.15thread]%X{alias}[%-25logger{15}] - %msg%n</pattern>
            </layout>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/root/cardano-dex-index/logs/rates-resolver.%d{yyyy-MM-dd}.%i.log
            </fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE"/>
    </appender>

    <logger name="fi.spectrumlabs" level="INFO"/>
    <logger name="org.apache.kafka" level="OFF"/>
    <logger name="sttp.client3.asynchttpclient" level="OFF"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="OFF"/>
    <logger name="io.lettuce.core" level="OFF"/>
    <root level="INFO">
        <appender-ref ref="ASYNCFILE"/>
    </root>

</configuration>